html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
  text-align: center;
  color: red;
}

#event-list {
  margin-top: 20px;
}

button {
  float: left;
}

textarea {
  width: 100%;
  height: 100px;
}